<a href="https://www.facebook.com/v3.2/dialog/oauth?client_id=209599977796178&redirect_uri=https://dev-props.com/notes/fb-test/">fb</a>
<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=489935238044-gitelghpsd3sr1d5acrve6bc6bkarbk9&response_type=code&state=34343434e&scope=&redirect_uri=https://dev-props.com/notes/fb-test/">g+</a>