/*default*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #f299a5;
}

html {
    overflow-x: hidden;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 400 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    line-height: 1.5em;
}

a {
    text-decoration: underline;
    color: #d31b33;
}

.active, a:hover {
    background: #d31b33;
    outline: #d31b33 solid 2px;
    color: #fff;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

figcaption {
    font-size: .889em;
}

h1 {
    line-height: 1.4em;
    font-size: 2em;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.667em;
    line-height: 1.6em;
    margin: 1em 0 .2em;
    letter-spacing: .5px;
}

h3 {
    font-size: 1.333em;
    line-height: 1.3em;
    margin: 1em 0 .2em;
    letter-spacing: .5px;
}

p {
    margin-bottom: .889em;
    font-size: 1em;
    line-height: 1.5em;
}

pre {
    font-size: .889em;
    position: relative;
    padding: 20px 0;
    line-height: 1.5em;
}

pre:before {
    background: #282c34;
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    overflow-x: hidden;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #abb2bf;
    background: #282c34;
}

pre+p {
    margin-top: 1em;
}

figure+p {
    margin-top: .556em;
}

main ul {
    margin-left: 20px;
}

main ul ul {
    list-style: none;
    margin-left: 0;
}

code {
    font-family: 'Fira mono', monospace;
    display: block;
    overflow-x: auto;
    color: #abb2bf;
}

.instr { 
    font: .889em 'Fira mono', monospace;
    background: #eee;
    padding: 1px 5px 0;
    border-radius: 4px;
}

.key {
    border: 1px solid #d2d2d2;
    border-bottom-width: 3px;
    border-bottom-color: #a8a8a8;
    background: #f0f0f0;
    padding: 1px 5px 0;
    border-radius: 4px;
    font: .833em 'Fira mono', monospace
}

/*youtube*/

/*.youtube__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.youtube__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/*page__wrapper*/



/*header*/

header {
    flex: 0 0 auto;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin: 20px 0 50px;
}

.logo {
    height: 50px;
    width: 120px;
}

.logo a:hover {
    outline: none;
    background: none;
}

.menu {
    display: inline-flex;
    list-style: none;
    line-height: 1.5em;
    font-size: .889em;
}

.menu li {
    white-space: nowrap;
    margin-right: 15px;
}

main {
    flex: 1 1 auto;
    display: block;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 10px;
}

.about_me {
    margin-top: 150px;
    font-size: 1.111em;
}

.about_me>p {
    margin: 0;
}

.interactive_unit {
    position: relative;
    display: flex;
    margin-top: 15px;
}

.interactive_unit:before {
    font-size: 350px;
    font-family: "Young", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 60px;
    left: -150px;
    content: "Feleniuk";
    color: #eee;
    z-index: -1;
}

.photo_unit {
    width: 80px;
    height: 80px;
    flex: none;
    margin-right: 40px;
    filter: grayscale(.9);
}

.photo_unit img {
    border-radius: 50%;
}

.publish__header {
    padding: 40px 0 15px;
}

.publish__list {
    list-style: none;
    margin-left: 0;
}

.publish__list li {
    padding-bottom: 10px;
}

.article__header {
    padding-bottom: 30px;
}

footer {
    flex: 0 0 auto;
    padding: 0 40px;
    margin: 60px 0 15px;
}

.links {
    list-style: none;
    font-size: .833em;
    display: inline-flex;
}

.links li {
    white-space: nowrap;
    margin-right: 10px;
}

.copy {
    font-size: .722em;
}

@media only screen and (max-width:800px) {
    footer,
    header {
        padding: 0 15px;
    }
    .about_me {
        margin-top: 120px;
    }
    .interactive_unit:before {
        left: -80px;
        font-size: 250px;
    }
}

@media only screen and (max-width:640px) {
    body {
        font-size: 17.5px;
    }
    h2 {
        margin: .8em 0 .2em;
    }
    footer,
    header,
    main {
        padding: 0 15px;
        flex-wrap: wrap;
    }
    header {
        margin-bottom: 35px;
    }
    .article__header {
        padding-bottom: 20px;
    }
    .menu {
        font-size: .914em;
        flex-wrap: wrap;
    }
    .menu li {
        margin-right: 10px;
    }
    .links {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:440px) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    h3 {
        font-size: 1.1em;
        line-height: 1.1em;
    }
    .publish__header {
        padding: 5px 0;
    }
    .article__header {
        padding-bottom: 15px;
    }
    .footer {
        font-size: .95em;
    }
    .about_me {
        margin-top: 40px;
    }
    .interactive_unit {
        flex-direction: column;
    }
    .photo_unit {
        margin-bottom: 15px;
    }
}