---
layout: layouts/base
---
<div class="article__header">
	<time >{{ date | formatDate }}</time>
	<h1>{{ title }}</h1>
	{% if post %}
      <img src="{{ post.url }}" alt="{{ post.alt }}">
    {% endif %}
</div>
{{ content | safe }}