<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    {% include "components/head.njk" %}
  </head>
  <body>
    {% include "components/header.njk" %}
    <main id="main-content" class="site-main">{{ content | safe }}</main>
    {% include "components/footer.njk" %}
  </body>
</html>
