<footer>
	<ul class="links">
		<li><a href="https://www.youtube.com/channel/UCnw7sL0OTU-MobEG8GKnI6Q">Youtube</a></li>
		<li><a href="https://www.twitch.tv/the_props">Twitch</a></li>
		<li><a href="https://github.com/xfranklin">Github</a></li>
	</ul>
	<div class="copy">&#169; 2019 theprops.space → dev-props.com</div>
</footer>