<footer class="site-footer">
  <div class="site-footer-inner">
    <div class="copy">{{ 'FOOTER_COPY' | i18n({}, locale) }}</div>
    <ul class="links" aria-label="{{ 'FOOTER_SOCIALS' | i18n({}, locale) }}">
      <li><a href="https://www.youtube.com/channel/UCnw7sL0OTU-MobEG8GKnI6Q">Youtube</a></li>
      <li><a href="https://www.twitch.tv/the_props">Twitch</a></li>
      <li><a href="https://github.com/xfranklin">Github</a></li>
    </ul>
    <a class="back-to-top" href="#main-content">{{ 'FOOTER_BACK_TOP' | i18n({}, locale) }}</a>
  </div>
</footer>
