<header>
  <div class="logo">
    <a href="/"><img src="/assets/images/logo.png" alt="logo" /></a>
  </div>
  <nav>
    <ul class="menu">
      {% for link in menu.links %}
        {% set isActive = link.url == page.url %}
        <li>
          <a {% if isActive %}class="active"{% endif %} href="{{ link.url }}"> {{ link.label }} </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
