<meta charset="UTF-8" />

<title>{{ title }}{% if title %}·{% endif %}Props</title>
<meta name="description" content="{{ description }}" />

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}{% if title %}·{% endif %}Props" />
<meta property="og:description" content="{{ description }}" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/assets/images/fav.png" />
<link rel="stylesheet" href="/assets/css/index.css" />
