---
title: Даниил Феленюк
description: Я html-верстальщик, junior front-end разработчик. Увлекаюсь веб-разработкой, программированием микроконтроллеров, а так же созданием видео на youtube.
layout: layouts/base
---

<div class="about-me">
  <p>Привет, я Даниил Феленюк мне 22, живу в Одессе</p>
  <div class="interactive-unit">
    <div class="photo-unit"><img src="../assets/images/photo.png" alt="photo" /></div>
    <div class="position_unit">
      <p>
        Я junior front-end разработчик. Работаю в
        <a href="https://www.keepsolid.com/">KeepSolid</a> увлекаюсь веб-разработкой, дизайном,
        написанием статей, а так же созданием видео на youtube.
      </p>
    </div>
  </div>
  <p>
    Мое <a href="../assets/resume.pdf">резюме</a>, почта
    <a href="mailto: xanmean@gmail.com">xanmean@gmail.com</a>
  </p>
</div>
