/* default */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: #f299a5;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  font:
    400 18px "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1.5em;
}

a {
  color: #d31b33;
  text-decoration: underline;
}

.active,
a:hover {
  color: #fff;
  text-decoration: none;
  outline: #d31b33 solid 2px;
  background: #d31b33;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 0.889em;
}

h1 {
  font-size: 2em;
  line-height: 1.4em;
  letter-spacing: 1px;
}

h2 {
  margin: 1em 0 0.2em;
  font-size: 1.667em;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}

h3 {
  margin: 1em 0 0.2em;
  font-size: 1.333em;
  line-height: 1.3em;
  letter-spacing: 0.5px;
}

p {
  margin-bottom: 0.889em;
  font-size: 1em;
  line-height: 1.5em;
}

pre {
  position: relative;
  padding: 20px 0;
  font-size: 0.889em;
  line-height: 1.5em;
}

pre::before {
  position: absolute;
  inset: 0 -100vw;
  z-index: -1;
  overflow-x: hidden;
  content: "";
  background: #282c34;
}

code {
  display: block;
  overflow-x: auto;
  font-family: "Fira mono", monospace;
  color: #abb2bf;
}

pre code {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  color: #abb2bf;
  background: #282c34;
}

pre + p {
  margin-top: 1em;
}

figure + p {
  margin-top: 0.556em;
}

main ul {
  margin-left: 20px;
}

main ul ul {
  margin-left: 0;
  list-style: none;
}

.instr {
  padding: 1px 5px 0;
  font:
    0.889em "Fira mono",
    monospace;
  background: #eee;
  border-radius: 4px;
}

.key {
  padding: 1px 5px 0;
  font:
    0.833em "Fira mono",
    monospace;
  background: #f0f0f0;
  border: 1px solid #d2d2d2;
  border-bottom-color: #a8a8a8;
  border-bottom-width: 3px;
  border-radius: 4px;
}

/* youtube */

/* .youtube__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.youtube__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

/* page__wrapper */

/* header */

header {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding: 0 40px;
  margin: 20px 0 50px;
}

.logo {
  width: 120px;
  height: 50px;
}

.logo a:hover {
  outline: none;
  background: none;
}

.menu {
  display: inline-flex;
  font-size: 0.889em;
  line-height: 1.5em;
  list-style: none;
}

.menu li {
  margin-right: 15px;
  white-space: nowrap;
}

main {
  display: block;
  flex: 1 1 auto;
  width: 100%;
  max-width: 720px;
  padding: 0 10px;
  margin: 0 auto;
}

.about-me {
  margin-top: 150px;
  font-size: 1.111em;
}

.about-me > p {
  margin: 0;
}

.interactive-unit {
  position: relative;
  display: flex;
  margin-top: 15px;
}

.interactive-unit::before {
  position: absolute;
  top: 60px;
  left: -150px;
  z-index: -1;
  font-family: Young, Helvetica, Arial, sans-serif;
  font-size: 350px;
  color: #eee;
  content: "Feleniuk";
}

.photo-unit {
  flex: none;
  width: 80px;
  height: 80px;
  margin-right: 40px;
  filter: grayscale(0.9);
}

.photo-unit img {
  border-radius: 50%;
}

.publish-header {
  padding: 40px 0 15px;
}

.publish-list {
  margin-left: 0;
  list-style: none;
}

.publish-list li {
  padding-bottom: 10px;
}

.article-header {
  padding-bottom: 30px;
}

footer {
  flex: 0 0 auto;
  padding: 0 40px;
  margin: 60px 0 15px;
}

.links {
  display: inline-flex;
  font-size: 0.833em;
  list-style: none;
}

.links li {
  margin-right: 10px;
  white-space: nowrap;
}

.copy {
  font-size: 0.722em;
}

.subscription {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 304px;
  margin-bottom: 14px;
}

.subscription label {
  font-size: 13px;
  cursor: pointer;
}

.mail {
  padding: 4px 10px;
  margin-bottom: 6px;
  color: #262626;
  outline: 0;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
}

.mail:focus {
  box-shadow: rgb(149 157 165 / 0.2) 0 2px 6px;
}

.send-mail {
  padding: 4px 24px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  transition: background-color 250ms ease-in;
}

.send-mail:hover {
  background-color: #f7f7f7;
  box-shadow: rgb(149 157 165 / 0.2) 0 0 2px;
}

#recaptcha-checkbox,
#recaptcha-invisible {
  margin-top: 8px;
}

@media only screen and (width <= 800px) {
  footer,
  header {
    padding: 0 15px;
  }

  .about-me {
    margin-top: 120px;
  }

  .interactive-unit::before {
    left: -80px;
    font-size: 250px;
  }
}

@media only screen and (width <= 640px) {
  body {
    font-size: 17.5px;
  }

  h2 {
    margin: 0.8em 0 0.2em;
  }

  footer,
  header,
  main {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  header {
    margin-bottom: 35px;
  }

  .article-header {
    padding-bottom: 20px;
  }

  .menu {
    flex-wrap: wrap;
    font-size: 0.914em;
  }

  .menu li {
    margin-right: 10px;
  }

  .links {
    flex-wrap: wrap;
  }
}

@media only screen and (width <= 440px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  h3 {
    font-size: 1.1em;
    line-height: 1.1em;
  }

  .publish-header {
    padding: 5px 0;
  }

  .article-header {
    padding-bottom: 15px;
  }

  .footer {
    font-size: 0.95em;
  }

  .about-me {
    margin-top: 40px;
  }

  .interactive-unit {
    flex-direction: column;
  }

  .photo-unit {
    margin-bottom: 15px;
  }
}
