@font-face {
    font-family: 'Helvetica Neue';
    src: url("/assets/fonts/HelveticaNeueRoman.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira mono';
    src: url("/assets/fonts/FiraMono.woff2") format("woff2"), url("/assets/fonts/FiraMono.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Young';
    src: url("/assets/fonts/Youth_Culture.otf");
    font-weight: 400;
    font-style: normal;
}