@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/HelveticaNeueRoman.woff") format("woff");
}

@font-face {
  font-family: "Fira mono";
  font-style: normal;
  font-weight: 400;
  src:
    url("/assets/fonts/FiraMono.woff2") format("woff2"),
    url("/assets/fonts/FiraMono.woff") format("woff");
}

@font-face {
  font-family: Young;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Youth_Culture.otf");
}
