.iterations {
  margin-bottom: 20px;
  font-family: "Fira mono", monospace;
}

.sort-elements {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.first {
  width: 1px;
}

.element {
  margin: 0 2px;
  transition: transform 150ms linear;
}

.element-label {
  width: 36px;
  height: 28px;
  font-family: "Fira mono", monospace;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #d31b33;
  text-align: center;
  background: #fff;
  border: 2px solid #d31b33;
}

.element-body {
  width: 36px;
  background-color: #d31b33;
}

.success .element-label {
  color: #32b679;
  border-color: #32b679;
}

.success .element-body {
  background-color: #32b679;
}

.compared .element-label {
  color: #1b1d1c;
  border-color: #1b1d1c;
}

.compared .element-body {
  background-color: #1b1d1c;
}

.custom .element-label {
  color: #0e38b1;
  border-color: #0e38b1;
}

.custom .element-body {
  background-color: #0e38b1;
}

.pannel {
  display: flex;
  padding-top: 12px;
}

.default-btn {
  padding: 8px 12px;
  margin: 3px;
  font-family: "Fira mono", monospace;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  outline: none;
  background-color: #d31b33;
  border: none;
  transition: box-shadow 150ms linear;
}

.default-btn:disabled {
  opacity: 0.7;
}

.default-btn:hover {
  box-shadow: 0 10px 20px -10px #d31b33;
}

.default-btn:active {
  background-color: #e32941;
}

@media screen and (width <= 730px) {
  .element {
    margin: 0 1px;
  }

  .element-body {
    width: 19px;
  }

  .element-label {
    width: 19px;
    height: 18px;
    font-size: 10px;
    line-height: 16px;
  }
}
