---
layout: layouts/base
title: Коллекция — Фильмы
description: ""
locale: uk
translationKey: collection-movies
collectionType: movies
collectionLabel: COLLECTION_MOVIES
placeholderText: COLLECTION_MOVIES_TEXT
---

{% include "components/collection-page.njk" %}
