---
layout: layouts/base
title: Коллекция — Книги
description: ""
locale: uk
translationKey: collection-books
collectionType: books
collectionLabel: COLLECTION_BOOKS
placeholderText: COLLECTION_BOOKS_TEXT
---

{% include "components/collection-page.njk" %}
